<button (click) = "midiInput.click()">open midi file</button>
<input #midiInput type="file" accept="audio/mid" (change) = "openMidi(midiInput.files[0])" hidden>
<h1>{{midiFile?.name}}</h1>
<div class="track" *ngFor="let track of midiFile?.tracks; let i = index">
  <div>piste {{i + 1}}</div>
  <div>{{track?.name}}</div>
  <div>{{track?.instrument?.name}}</div>
 <!--  <input type="checkbox" value="{{track?.instrument?.percussion}}" (change) = "logMidiFile()"> -->
</div>
<div class="presets">

</div>
<div class="notes">
  <div class="note" id="note.en" *ngFor="let note of notes; let i = index">
    <div>{{note.fr}}</div>
    <select id="{{note.midi}}">
      <option  *ngFor="let sub of notes" attr.midiValue="{{sub.midi}}" value="{{sub.en}}">{{sub.fr}}</option>
    </select>
    <select [value]= '0' id="octave-{{note.midi}}">
        <option *ngFor="let octave of octaves" value="{{octave.value}}">{{octave.text}}</option>
    </select>
  </div>
</div>
<button (click) = "save()">save</button>
<div #file></div>

<!-- <a href="data:application/xml;charset=utf-8" >Save</a> -->
<router-outlet></router-outlet>
